#image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.animation-target {
  -webkit-animation: animation 2000ms linear infinite both;
  animation: animation 2000ms linear infinite both;
}

#bouton {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}
#titre {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}
