#image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.animation-target {
  -webkit-animation: animation 2000ms linear infinite both;
  animation: animation 2000ms linear infinite both;
}

#bouton {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}
#titre {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

// Create some space above and below
form {
  margin: 2em;
}

// quickly position the fields
.field {
  float: left;
}
label {
  display: inline-block;
  transform: translate(-170px, 0);
  transition: all 0.2s ease;
}
input:focus ~ label,
input:valid ~ label {
  transform: translate(-170px, -30px);
}
input {
  display: inline-block;
  border: 0;
  background: #fff;
  border-bottom: 2px solid black;
  text-indent: 0.5em;
}
input[type="text"],
input[type="email"] {
  padding: 0.75em 0;
  transition: background 0.2s ease;
  // Remove browser focus outline. not recommended without providing your own alternative!
  &:focus {
     outline: 0;
     background: #efefef;
  }
}



